/*----------------------------------------------------------------

// Table of contents //

    0.  Body
    1.  Common Section
    2.	Preloader section
    3.	Back-top section
    4.  Navigation section
    5.  Banner section
    6.  About section
    7. 	Download section
    8.  More-game Section
    9.  News section
    10. Contact Section
    11. Footer Section

------------------------------------------------------------------*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: #020202;
	font-size: 15px;
	overflow-x: hidden;
}

/*==================== 1. common section ====================*/
h1, h2, h3, h4, h5, h6{
	font-weight: 600;
	margin: 0;
}

p{
	margin: 0;
	line-height: 25px;
}

a, 
a:focus{
	color: #202020;
	text-decoration: none;
	outline: 0 !important;
}

a:hover{
	text-decoration: none;
	outline: 0 !important;
	color: #202020;
}

/*btn*/
.btn {
    font-size: 15px;
    border: none;
    border-radius: 0;
    background-color: #232222;
    padding: 12px 35px;
    color: #fff;
}

.btn:hover{
	background-color: #acce22;
	color: #fff;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

/*section padding*/
.section_top-50{
	padding-top: 50px;
}

.section_bottom-50{
	padding-bottom: 50px;
}

.section_top-100{
	padding-top: 100px;
}

.section_bottom-100{
	padding-bottom: 100px;
}

.section_top-200{
	padding-top: 200px;
}

.section_bottom-200{
	padding-bottom: 200px;
}

/*section head*/
h2.section-head,
.co-development-head h2{
	font-size: 40px;
	font-weight: 700;
	position: relative;
	padding-bottom: 10px;
	text-align: center;
}

h2.section-head::after {
    content: "";
    width: 200px;
    height: 2px;
    background-color: #9f9fa0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

/*no-padding*/
.no-padding{
	padding: 0;
}

/*==================== 2. preloader section ====================*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #fff;
}

.spinner {
	border: 1px solid transparent;
	border-radius: 5px;
	position: relative;
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 45px;
	height: 45px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid #acce22;
	border-top-color: #fff;
	border-bottom-color: #fff;
	animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
	to {transform: rotate(360deg);}
}

@keyframes spinner {
	to {transform: rotate(360deg);}
}

/*========================= 3. back-top section =========================*/
.go-top {
	background-color: #acce22;
	box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
	transition : all 1s ease;
	bottom: 3.5em;
	right: 1em;
	color: #fff;
	font-size: 30px;
	display: none;
	position: fixed;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
}

.go-top:hover {
    background: #282828;
    color: #fff;
}

/*==================== 4. navigation section ====================*/
.menu .navbar-default {
    background-color: #000;
    border: none;
    margin-bottom: 0;
}

.menu .navbar {
    border-radius: 0;
    min-height: 60px;
}

.menu .navbar-brand{
	padding: 10px 15px;
}

.menu .navbar-default .navbar-nav>li>a,
.menu .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    font-size: 16px;
}

.menu .navbar-default .navbar-nav>li>a:hover{
	color: #acce22;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.menu .navbar-nav>li>a {
    padding-top: 22px;
}

.menu .open>.dropdown-toggle.btn-default,
.menu .btn-default.focus, 
.menu .btn-default:focus {
	background-color: rgba(95, 93, 93, .9);
	border: none;
	color: #fff;
	outline: 0 !important;
}

.menu .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 150px;
    margin-top: 10px;
}

.menu .btn {
    padding: 10px 12px;
}

.menu .uk {
	background-image:url(../images/flag_eng.png);
	background-repeat: no-repeat;
	width:40px;
	height:16px;
}

.menu .fren {
	background-image:url(../images/flag_frn.png);
	background-repeat: no-repeat;
	width:40px;
	height:16px;
}

.menu .jpn {
	background-image:url(../images/flag_jpn.png);
	background-repeat: no-repeat;
	width:40px;
	height:16px;
}

/*==================== 5. banner section ====================*/
#banner{
	background-color: #eee;
}

.banner-bg{
	background-image: url(../images/banner-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

.banner-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.banner-content{
	padding: 150px 0;
}

.banner-logo img{
	padding-bottom: 15px;
}

.banner-logo{
	border-bottom: 2px solid #fff;
}

.banner-logo,
.banner-text{
	width: 363px;
	margin: 0 auto;
}

.banner-text h3{
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	line-height: 30px;
}

#banner .btn{
	margin: 60px 10px 0;
	border: 1px solid #fff;
	padding: 15px 35px;
}

.play-btn,
.work-btn{
	background-color: rgba(60, 55, 49, .8);
}

.work-btn:hover,
.play-btn:hover{
	background-color: rgba(140, 168, 30, .8);
}

/*==================== 6. about section ====================*/
#about{
	border-top: 8px solid #b6b6b7;
}

.about-content{
	padding: 50px 50px 0;
}

.about-content p{
	padding: 30px 0 40px;
	font-weight: 700;
	font-size: 18px;
}

img.about-img {
	width: 400px;
}

/*==================== 7. download section ====================*/
#download{
	background-color: #eee;
	border-top: 8px solid #b6b6b7;
}

.download-bg{
	background-image: url(../images/omega-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

.download-content{
	padding: 100px 0;
}

.download-content .section-head{
	color: #fff;
}

.download-content .section-head::after{
	background-color: #fff;
}

.download-content p{
	color: #fff;
	padding: 20px 20px 40px;
}

.download-content .btn{
	border: 1px solid #fff;
}

/*==================== 8. more-game section ====================*/
#more-game{
	background-color: #eee;
	border-top: 8px solid #b6b6b7;
}

.more-game-bg{
	background-image: url(../images/moreourgame-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

.more-game-content{
	padding: 100px 0;
}

.more-game-content .section-head{
	color: #fff;
}

.more-game-content .section-head::after{
	background-color: #fff;
}

/* swiper-slider */
.swiper-slide {
	width: 386px;
	height: auto;
	padding: 0 15px; 
}

.swiper-slide img {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
	width: 300px;
	height: auto;
}

/*==================== 9. news section ====================*/
#news{
	border-top: 8px solid #b6b6b7;
}

#news .section-head,
#contact .section-head,
#more-game .section-head{
	margin-bottom: 50px;
}

.news-content img{
	width: 100%;
}

.news-content{
	position: relative;
	margin-bottom: 30px;
}

.news-tag {
    position: absolute;
    background-color: #acce22;
    top: 0;
    right: 0;
    text-align: center;
    padding: 12px 20px;
    font-weight: 600;
    color: #fff;
    border-bottom-left-radius: 30px;
}

.news-caption{
	position: absolute;
	background-color: rgba(51, 44, 43, .8);
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 10px 28px;
}

.news-caption span{
	font-size: 12px;
	color: #fff;
}

.news-caption p{
	color: #fff;	
}

/*==================== 10. contact section ====================*/
#contact{
	background-color: #010101;
	border-top: 8px solid #b6b6b7;
	color: #fff;
}

.contact-content p span{
	font-weight: 600;
	font-size: 18px;
	margin-right: 10px;
}

.contact-img img {
    position: absolute;
    top: -70px;
    width: 415px;
}

.contact-content h3{
	margin-bottom: 5px;
}

/*==================== 11. footer section ====================*/
#footer{
	border-top: 8px solid #b6b6b7;
}

.footer-text h4{
	padding-top: 25px;
	padding-bottom: 25px;
	font-weight: 700;
}

.footer-img img{
	position: absolute;
	top: -160px;
	width: 450px;
}

/*==================== 12. Game Page section ====================*/
#game-head{
	background-image: url(../images/game-head-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #eee;
}

.game-head-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.game-head-content{
	padding: 150px 0;
}

.game-head-text{
	max-width: 370px;
	margin: 0 auto;
}

.game-head-text p{
	color: #fff;
	margin-top: 15px;
}

#game-head .section-head{
	text-transform: uppercase;
	color: #fff;
}

#game-head h2.section-head::after {
    width: 100%;
    background-color: #fff;
}

.game-head-text .btn{
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #fff;
	margin-top: 70px;
}

/*games*/
#games,
#games-one,
#games-two,
#games-three{
	background-color: #fff;
}

.games,
.games-one{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #eee;
}

.games{
	background-image: url(../images/game-section-bg-1.jpg);
}

.games-one{
	background-image: url(../images/game-section-bg-2.jpg);
}

.game-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.game-area{
	padding: 100px 0;
}

.game-content{
	overflow: hidden;
	border: 2px solid #231916;
	background-color: #fff;
}

.games .game-content,
.games-one .game-content{
	border-color: #fff;
}

.game-text{
    padding: 85px 60px;
}

.game-text h3{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.game-text p{
    margin: 20px 0;
}

.game-text .btn{
	background-color: transparent;
	border: 2px solid #231916;
	color: #020202;
	padding: 10px 20px;
	border-radius: 5px;
}

.game-text .btn i{
	padding-left: 25px;
}

.game-img img{
	width: 100%;
}

/*==================== 13. Contact Us section ====================*/
.contact-us{
	background-image: url(../images/contact-head-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #eee;
}

.contact-us-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.contact-us-content{
	padding: 200px 0;
}

#contact-head .section-head{
	color: #fff;
	text-transform: uppercase;
}

#contact-head h2.section-head::after {
    width: 250px;
    background-color: #fff;
}

/*support*/
#support {
    border-top: 8px solid #b6b6b7;
}

.support-text{
	padding: 32% 0;
}

.support-text .section-head{
	text-align: left;
	text-transform: uppercase;
}

.support-text h2.section-head::after {
    width: 84%;
    margin: 0;
}

.support-text p{
	font-weight: 700;
	margin-top: 15px;
}

.support-img{
	position: relative;
}

.support-img img{
	width: 100%;
}

.support-img .btn {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 12px 21%;
    text-transform: uppercase;
}

.support-img .omega-btn{
	left: 12%;	
}

.support-img .orbit-btn{
	left: 10%;
}

/*contact-form*/
#contact-form {
    border-top: 8px solid #b6b6b7;
}

#contact-form .contact-us-content{
	padding: 100px 0;
}

#contact-form .contact-img img {
    top: -10px;
    width: 480px;
}

p.contact-form-text{
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	margin-bottom: 25px;
}

#contact-form .form-control {
    background-color: #edeeee;
    border: none;
    border-radius: 5px;
}

#contact-form textarea.form-control {
    height: 131px;
}

#contact-form .contact-btn{
	background-color: #e20813;
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 10px 25px;
}

/*==================== 14. About Us section ====================*/
#about-head{
	background-image: url(../images/about-head-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #eee;
}

.about-head-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.about-head-content{
	padding: 180px 0;
}

.about-head-text{
	max-width: 555px;
	margin: 0 auto;
}

.about-head-text h2{
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 50px;
}

.about-head-text .btn,
.about-head-text .btn:focus{
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #fff;
	margin-top: 70px;
	text-transform: uppercase;
	padding: 12px 20px;
	color: #fff;
}

.about-head-text .btn i,
.about-contact-content .btn i{
	padding-left: 25px;
}

/*about-us*/
#about-us {
    background-color: #fff;
    border-top: 8px solid #b6b6b7;
}

.about-us-content{
	margin-top: 50px;
}

.about-us-content p{
	max-width: 575px;
	margin: 0 auto;
	text-align: center;
}

/*counter*/
.counter-content {
    position: relative;
    width: 215px;
    height: 120px;
    margin: 100px 0 63px;
    border-left: solid 3px #888;
    border-right: solid 3px #888;
    padding-top: 20px;
}

.counter-content:before, 
.counter-content:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 152px;
    height: 152px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 28px;
}

.counter-content:before {
    top: -76px;
    border-top: solid 4px #888;
    border-right: solid 4px #888;
}

.counter-content:after {
    bottom: -76px;
    border-bottom: solid 4px #888;
    border-left: solid 4px #888;
}

span.counter{
	font-size: 30px;
	font-weight: 700;
}

.counter-content p{
	text-transform: uppercase;
}

/*our-story*/
#our-story{
	background-color: #edeeee;
	border-top: 8px solid #b6b6b7;
}

.our-story-top{
	background-image: url(../images/our-story-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #eee;

}

.our-story-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.our-story-content{
	padding: 100px 0;
}

.our-story-content h2{
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.our-story-content p{
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	margin-top: 10px;
}

.our-story-bottom{
	position: relative;
	background-color: #fff;
	padding: 100px 0;
	top: -50px;
	border: 7px solid #c8c8c9;
	z-index: 10;
}

.our-story-bottom img{
	margin: 0 auto;
}

/*summery*/
.summery-img{
	position: relative;
}

.summery-top-left{
	position: absolute;
	top: 0;
	left: 15%;
}

.summery-top-right {
    position: absolute;
    top: -50px;
    right: 20%;
}

.summery-bottom-right {
    position: absolute;
    top: 25%;
    right: 12%;
}

.summery-bottom-left {
    position: absolute;
    top: 75%;
    left: 14%;
}

.summery-text{
    position: absolute;
    bottom: 10%;
    right: 15%;
}

.summery-text h4{
	font-size: 22px;
	font-weight: 700;
}


/*co-development*/
#co-development{
	background-image: url(../images/co-development-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #eee;
	border-top: 8px solid #b6b6b7;
}

.co-development-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.co-development-area{
	padding: 100px 0;
}

.co-development-head{
	margin-bottom: 40px;
	color: #fff;
}

.co-development-head h2{
	text-transform: uppercase;
}

.co-development-head p{
	text-transform: capitalize;
	text-align: center;
}

.co-development-text{
	background-color: #fff;
	padding: 56px 21%;
	margin-bottom: 10px;
}

.co-development-text h3{
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.co-development-text h4{
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 20px;
}

.co-development-text .btn{
	background-color: transparent;
	border: 2px solid #333;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 35px;
	color: #000;
	padding: 12px 20px;
}

.co-development-text .btn i{
	margin-left: 25px;
}

#co-development-carousel img,
.co-publishing-content img{
	width: 100%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none; 
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next, 
.carousel-control .icon-prev {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    line-height: 50px
}

.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next {
    right: 10%;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev {
    left: 10%;
}

/*co-publishing*/
#co-publishing{
	background-color: #fff;
}

#co-publishing .co-development-head{
	color: #020202;
}

#co-publishing .co-development-text{
	background-color: #010000;
	color: #fff;
}

#co-publishing .co-development-text .btn{
	color: #fff;
	border-color: #fff;
}

#co-publishing .carousel-control .glyphicon-chevron-left, 
#co-publishing .carousel-control .glyphicon-chevron-right, 
#co-publishing .carousel-control .icon-next, 
#co-publishing .carousel-control .icon-prev{
	background-color: #b4b5b5;
	color: #fff;
}

/*work-with*/
#work-with{
	background-color: #000;
	color: #fff;
}

p.section-head-sub{
	font-weight: 600;
	text-align: center;
	margin-top: 5px;
}

.work-with-area{
	margin-top: 50px;
}

.divider{
	border-right: 2px solid #fff;
}

.work-with-content {
    padding: 25px 48px;
}

/*about-contact*/
#about-contact{
	background-image: url(../images/about-contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #eee;
}

.about-contact-overlay{
	background-color: rgba(0, 0, 0, .5);
}

.about-contact-area{
	padding: 100px 0;
}

.about-contact-content h2{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
}

.about-contact-content .btn{
	background-color: transparent;
	border: 2px solid #fff;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 30px;
}

.about-contact-img img{
	position: absolute;
	width: 100%;
	top: -50px;
}